# MongoDB Connection String
MONGO_URI="mongodb+srv://your_username:your_password@cluster.mongodb.net/your_database?retryWrites=true&w=majority&appName=Cluster0"

# JWT Secret Key
JWT_SECRET="your_jwt_secret_key_here"

# Environment
NODE_ENV="production"
